[submodule "librfxcodec"]
	path = librfxcodec
	url = https://github.com/neutrinolabs/librfxcodec.git
	branch = .
	ignore = untracked

[submodule "libpainter"]
	path = libpainter
	url = https://github.com/neutrinolabs/libpainter.git
	branch = .
	ignore = untracked
[submodule "ulalaca"]
	path = ulalaca
	url = https://github.com/neutrinolabs/ulalaca-xrdp.git
[submodule "third_party/tomlc99/src"]
	path = third_party/tomlc99/src
	url = https://github.com/cktan/tomlc99.git
